# dependencies
**/node_modules

# testing
**/coverage

# production
**/build
**/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.dev
**/.env.prod

/packages/admin-ui/.env
/packages/user-ui/.env
/packages/admin-ui/node_modules
/packages/user-ui/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
